
# Environment template for secrets, passwords, etc.
# Copy this file to env.sh and edit to suit your environment
# env.sh is in .gitignore and will not be checked in



# The location of your Jetty container where OpenIG is deployed
export JETTY_HOME=~/packages/fr/jetty



# Google OIDC examples

export GOOGLE_CLIENT_SECRET="mysecret"
export GOOGLE_CLIENT_ID="myclientid"


# OpenIG URL -for use in shell scripts

export IG_URL="http://localhost:9080"




